
main {
    max-width: 90%;
    margin: 3rem auto;
}



#profile_section {
   

    
    width: 100%;
 
}

#profile_name {
    font-size: 1.3rem;
    margin: auto 0;
    text-align: center;
}

#profile_img {
    width: 80%;
}
